body {
    background-color:lightblue;
    font-family:'lucida sans', verdana, sans-serif;
}

h1 {
    text-align: center;
    color: blueviolet;
}

p {
    text-align: justify;
    width: fit-content;
}

.center{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.foto{
    background-color: black;
}

.foto img{
    width: 23%;
}

.cod {
    margin: auto;
    width: 80%;
}

.cod p {
    background-color: aqua;
    border: 5px dotted red;
    text-align: center;
    font-weight: bold;
    color: blue;
    display: block;
    margin: 0 auto;
}